<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel='stylesheet' href='/base.css' />
  <style>

  </style>
  <title>Your Poll</title>
</head>

<body class="custom">
  <nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container navbar-title">

       <div class="navbar-header">

       </div>

       <div class = "menu">
         <ul class="nav navbar-nav">
           <a  href="/">crowdSource</a>
         </ul>
       </div>
     </div>



</nav>
  <div class = "container admin-page">

    <div class ="row">
      <div class = "col-md-12 question">
      <%=question%>
      </div>
      <div class="col-md-12">
        <div id="poll-closed"></div>
      </div>
      <div id="admin-results">
        <ul>
        <li><%=answer_1%></li>
        <li><%=answer_2%></li>
        <li><%=answer_3%></li>
        <li><%=answer_4%></li>
        <li><%=answer_5%></li>
        <li><%=answer_6%></li>
      </ul>
      </div><br>
      </div>
      <div class = "row">
        <a href="#" id ="close" type="submit" name="close">Close Poll</a>
      </div>
      <div id="connection-count"></div>
    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
  <script src="/jquery.js"></script>

</html>
