<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel='stylesheet' href='/base.css' />
  <title>Vote Now!</title>
</head>
<body class = "custom">
  <nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container navbar-title">

       <div class="navbar-header">

       </div>

       <div class = "menu">
         <ul class="nav navbar-nav">
           <a  href="/">crowdSource</a>
         </ul>
       </div>
     </div>



</nav>
<h1>This poll is closed!</h1>
<div class="results-closed results">
  <ul><span class="question"><%=question%></span>
  <li><%=answer_1%>&nbsp;&nbsp;<%=answer_1_total%></li>
  <li><%=answer_2%>&nbsp;&nbsp;<%=answer_2_total%></li>
  <li><%=answer_3%>&nbsp;&nbsp;<%=answer_3_total%></li>
  <li><%=answer_4%>&nbsp;&nbsp;<%=answer_4_total%></li>
  <li><%=answer_5%>&nbsp;&nbsp;<%=answer_5_total%></li>
  <li><%=answer_6%>&nbsp;&nbsp;<%=answer_6_total%></li>
</ul>
</div>
</body>
</html>
