<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel='stylesheet' href='/base.css' />
  <title>Vote Now!</title>
</head>
<body class = "custom">
  <nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container navbar-title">

      <div class="navbar-header">

      </div>

      <div class = "menu">
        <ul class="nav navbar-nav">
          <a  href="/">crowdSource</a>
        </ul>
      </div>
    </div>



  </nav>
  <div class = "container user-page">

    <div class ="row">
      <div class = "col-md-12 question-user">
        <%=question%>
      </div>
      <div class = "row">
        <div id="choices">

            <a class="btn-default" id = "a"><%=answer_1%></a>&nbsp;&nbsp;&nbsp;
            <a class="btn-default" id = "b"><%=answer_2%></a>&nbsp;&nbsp;&nbsp;<% if(answer_3){%>
              <a class="btn-default" id = "c"><%=answer_3%></a>&nbsp;&nbsp;&nbsp;<% } %><% if(answer_4){%>
                <a class="btn-default" id = "d"><%=answer_4%></a>&nbsp;&nbsp;&nbsp;<% } %><% if(answer_5){%>
                  <a class="btn-default" id = "e"><%=answer_5%></a>&nbsp;&nbsp;&nbsp;<% } %><% if(answer_6){%>
                    <a class="btn-default" id = "f"><%=answer_6%></a>&nbsp;&nbsp;&nbsp;<% } %>

                </div>
              </div>
              <div id="poll-closed"></div>

              <div id= "thanks-voted"></div>
              <div id="vote-results" class="results"></div>
              <div id="connection-count"></div>

            </div>
          </div>
        </div>
      </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
    <script src="/jquery.js"></script>

    </html>
