<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel='stylesheet' href='/base.css' />
  <title>Vote Now!</title>
</head>
<body class>
  <div class = "container">

    <div class ="row">
      <div class = "col-md-12">
        Question: <%=question%>
      </div>
  <div id="choices">
  <button id = "a"><%=answer_1%></button>
  <button id = "b"><%=answer_2%></button>
  <button id = "c"><%=answer_3%></button>
  <button id = "d"><%=answer_4%></button>
  <button id = "e"><%=answer_5%></button>
  <button id = "f"><%=answer_6%></button>

</div>
<div id="vote-results"></div>
<div id="connection-count"></div>

      </div>
      </div>
    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
  <script src="/jquery.js"></script>

</html>
